[Desktop Entry]
Type=Application
Name=Wrightenich
Icon=/home/ccpa/Pictures/icons/phone.ico
Exec=/home/ccpa/bin/firefox/.venv/bin/python /home/ccpa/bin/firefox/firefox_wrightenich.py
Encoding=UTF-8
Version=1.0
Terminal=false
